﻿@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 welcome">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Styles
{
    <style>
        .welcome {
            color: blue;
        }
    </style>
}

@section Scripts
{
    <script>
        window.addEventListener("load", function () {
            // alert("Welcome Page");
        });
    </script>
}