@model IReadOnlyList<Training_Api.Models.StateViewModel>
<div>
    <a>Create</a>
    <table class="table">
        @foreach (var model in Model)
        {
            <tr>
                <td>@(model.StateName)</td>
                <td>@(model.Code)</td>
                <td>@(model.IsActive)</td>
            </tr>
        }
    </table>
</div>
